<div class="col-md-6">
  {{#link-to 'article1'}}
  <img class='carousel-image' src="img/peacock.jpg" alt="...">
  <div class="carousel-caption">
    Setting new standards for one man bands.
  </div>
  {{/link-to}}
</div>
<div class="col-md-6">
  {{#link-to 'article2'}}
  <img class='carousel-image ' src="img/woah.jpg" alt="...">
  <div class="carousel-caption col-md-12">
    <span>The future?</span>
  </div>
  {{/link-to}}
</div>

{{outlet}}
